@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 80em) {
  html {
    font-size: 56.75%;
  }
}

body {
  font-family: Nunito, sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}

.whatsapp {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: translate(-15%, -20%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 7rem;
  height: 7rem;
  background-color: #27b43e;
  border-radius: 50%;
  padding: 1rem;
  opacity: 0.7;
  transition: all ease 100ms;
}
.whatsapp:hover {
  opacity: 1;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.principal {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 2.5rem;
}

.cabecalho {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1.6rem;
  background-color: #fffdeb;
  z-index: 999;
}
.cabecalho__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;
  gap: 0;
  width: 100%;
  margin: 0 auto;
}
.cabecalho__superior {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 1.6rem;
  position: relative;
  width: 100%;
}
.cabecalho__contato {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid rgb(238, 238, 238);
}
.cabecalho__contato:hover .cabecalho__informacoes-contato {
  display: block;
}
.cabecalho__contatos {
  width: 3rem;
  height: 3rem;
}
.cabecalho__informacoes-contato {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-10%, 135%);
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: center;
  gap: 1.2rem;
  padding: 2.5rem;
  background-color: #6e45e2;
  width: max-content;
  text-align: left;
  border-radius: 1rem;
  display: none;
  transition: all ease 100ms;
}
.cabecalho__informacoes-contato a {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.65rem;
  text-decoration: none;
  font-size: 1.33rem;
  color: #fff;
}
.cabecalho__informacoes-contato a:hover {
  text-decoration: underline;
}
.cabecalho__informacoes-contato a img {
  width: 1.5rem;
  height: 1.5rem;
}
.cabecalho__informacoes-contato::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(150%);
  border-width: 1.2rem;
  border-style: solid; /* Define as bordas sólidas */
  border-color: transparent transparent #6e45e2 transparent;
}
.cabecalho__search {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 0;
  width: 60rem;
}
.cabecalho__search input {
  width: 100%;
  padding: 1.2rem 0.65rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(238, 238, 238);
  outline: none;
}
.cabecalho__botao {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all ease 200ms;
}
.cabecalho__botao svg {
  fill: rgb(64, 85, 158);
}
.cabecalho__botao svg:hover {
  fill: rgb(20, 84, 199);
}
.cabecalho__inferior {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  width: 100%;
}
.cabecalho__redes {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 2.5rem;
  padding-left: 3.05rem;
}
.cabecalho__redes-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  border-radius: 50%;
  border: 2px solid rgb(238, 238, 238);
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
}
.cabecalho__rede {
  opacity: 0.6;
}
.cabecalho__rede:hover {
  opacity: 1;
  filter: none;
}
.cabecalho__rede img {
  width: 3.5rem;
  height: 3.5rem;
}
.cabecalho__logo {
  min-height: 15rem;
  height: 15rem;
  min-width: 30rem;
  width: 30rem;
  margin-bottom: 2px;
}
.cabecalho__navegacao {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 4.88rem;
  width: 100%;
  max-width: 100rem;
}
.cabecalho__lista {
  list-style: none;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1.6rem;
}
.cabecalho__link {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  line-height: 1;
  border-bottom: solid 2px transparent;
  transition: all ease 200ms;
}
.cabecalho__link--natal {
  color: #ad0505;
}
.cabecalho__link:hover {
  color: #fff;
  border-bottom-color: #fff;
}
.cabecalho__item-lista {
  padding: 3.12rem 0;
}

.rodape {
  font-size: 1.33rem;
  color: #6e45e2;
  margin-top: 4.88rem;
}
.rodape__informacoes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.88rem;
  background-color: #fff7ad;
  padding: 2rem 3.12rem;
}
.rodape__sobre, .rodape__institucional, .rodape__contato, .rodape__rede {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;
  gap: 2.5rem;
}
.rodape__contato .rodape__link {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.65rem;
}
.rodape__redes {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.6rem;
}
.rodape__redes img {
  width: 3.5rem;
  height: 3.5rem;
  opacity: 0.6;
}
.rodape__redes img:hover {
  opacity: 1;
}
.rodape__paragrafos {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.65rem;
}
.rodape__title {
  font-size: 1.92rem;
  font-weight: 700;
  text-align: center;
}
.rodape__lista {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 1.02rem;
  list-style: none;
}
.rodape__link {
  text-decoration: none;
  color: #6e45e2;
}
.rodape__link img {
  width: 1.5rem;
  height: 1.5rem;
}
.rodape__copy {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  padding: 2rem 3.12rem;
}
.rodape__copy p {
  font-size: 1.1rem;
  color: #000;
}

.carrossel {
  position: relative;
  width: 100%;
  aspect-ratio: 1694/420;
  overflow: hidden;
}
.carrossel__imagens {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0;
  transition: transform ease 500ms;
}
.carrossel__item {
  min-width: 100%;
  height: 100%;
}
.carrossel__botoes {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.82rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -2rem);
  z-index: 1;
}
.carrossel__botao {
  background-color: rgba(238, 238, 238, 0.5);
  width: 12.5rem;
  height: 0.2rem;
  border-radius: 5rem;
}
.carrossel__preenchimento {
  width: 1.5%;
  height: 100%;
  background-color: #fff;
  transition: none;
}
.carrossel__preenchimento--completo {
  width: 100%;
  transition: width ease-out 5s;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 0 1rem;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  overflow: hidden;
  max-width: 100%;
}
.card__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: rgb(20, 84, 199);
}
.card__imagem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
}
.card__imagem img {
  width: 20rem;
  height: 20rem;
  border-radius: 2.5rem;
  transition: all ease-in 100ms;
}
.card__imagem img:hover {
  transform: scale(1.05);
}
.card__botoes {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: start;
  gap: 0.65rem;
}
.card__botao {
  border-radius: 2.5rem;
  padding: 0.65rem 0;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #6e45e2;
  border: 2px solid transparent;
  color: #fff;
  transition: all ease 100ms;
}
.card__botao:hover {
  background-color: #fff;
  color: #000;
  border-color: #6e45e2;
}

/*# sourceMappingURL=main.css.map */
