.redes-sociais {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-between;
}

.redes-sociais a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a38ac;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    fill: #fff;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
    text-shadow: 0 3px 5px rgb(0, 0, 0, 0.3);    
}

.redes-sociais a:not(:last-child){
    margin-right: 10px;
}

.redes-sociais a:hover .ballon{
    top: -35px;
    opacity: 1;
}

.redes-sociais svg {
    height: 20px;
    filter: drop-shadow(0 5px 10px rgb(0,0,0.2));
}

.redes-sociais .ballon {
    position: absolute;
    top: -25px;
    width: 140px;
    height: 28px;
    opacity: 0;
    border-radius: 30px;
    transition: top .2s ease-in-out, opacity .2s ease-in-out;
    filter: drop-shadow(0 5px 10px rgba(0,0,0,.2));
}

#wpp {
    width: 100px;
    margin-left: 20px;
}

.redes-sociais .name {
    position: relative;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7a38ac;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.redes-sociais .name::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-color:  #7a38ac;
    transform: rotate(45deg);
    bottom: -5px;
    border-radius: 4px;
}


.redes-sociais a.whatsapp,
.redes-sociais a.whatsapp .name,
.redes-sociais a.whatsapp .name::before{
    background-color: #25D366;
}

.instagram {
    margin-left: 700px;
}



