// -----------------------------------------------------------------------------
// Esse arquivo contém variables, functions, mixins e includes
// -----------------------------------------------------------------------------

//Variaveis

$cor-preta: #000;
$cor-branca: #fff;
$cor-azul: rgb(64, 85, 158);
$cor-azul-claro: rgb(20, 84, 199);
$cor-vermelha: #ad0505;
$cor-cinza-claro: rgba(238, 238, 238);
$cor-bege: #fffdeb;
$cor-amarela: #fff7ad;

//Mixins

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $align: stretch,
  $justify: start,
  $gap: 0
) {
  display: flex;
  flex-flow: $direction $wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin respond($tamanho) {
  @if $tamanho == small {
    @media (max-width: 30em) {
      @content;
    }
  } @else if $tamanho == medium-small {
    @media (max-width: 46.875em) {
      @content;
    }
  } @else if $tamanho == medium {
    @media (max-width: 59.375em) {
      @content;
    }
  } @else if $tamanho == big {
    @media (max-width: 80em) {
      @content;
    }
  }
}
