.rodape {
  font-size: 1.33rem;
  color: $cor-lilas-escuro;
  margin-top: 4.88rem;

  &__informacoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4.88rem;
    background-color: $cor-amarela;
    padding: 2rem 3.12rem;
  }

  &__sobre,
  &__institucional,
  &__contato,
  &__rede {
    @include flex($direction: column, $gap: 2.5rem, $align: start);
  }

  &__contato {
    & .rodape__link {
      @include flex($gap: 0.65rem);
    }
  }

  &__redes {
    @include flex($gap: 1.6rem);

    & img {
      width: 3.5rem;
      height: 3.5rem;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__paragrafos {
    @include flex(
      $direction: column,
      $align: center,
      $justify: center,
      $gap: 0.65rem
    );
  }

  &__title {
    font-size: 1.92rem;
    font-weight: 700;
    text-align: center;
  }

  &__lista {
    @include flex($direction: column, $gap: 1.02rem);
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $cor-lilas-escuro;

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__copy {
    @include flex($align: center, $justify: center);
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    padding: 2rem 3.12rem;

    & p {
      font-size: 1.1rem;
      color: $cor-preta;
    }
  }
}
