.cabecalho {
  position: sticky;
  top: 0;
  @include flex($align: center, $justify: space-between, $gap: 1.6rem);
  background-color: $cor-bege;
  z-index: 999;

  &__container {
    @include flex($align: center, $justify: start, $direction: column);
    width: 100%;
    margin: 0 auto;
  }

  &__superior {
    @include flex($align: center, $justify: space-between, $gap: 1.6rem);
    width: 100%;
  }

  &__inferior {
    @include flex($align: center, $justify: center);
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
    width: 100%;
  }

  &__redes {
    @include flex($align: center, $gap: 2.5rem);
    padding-left: 3.05rem;

    &-box {
      @include flex($align: center, $justify: center);
      border-radius: 50%;
      border: 2px solid $cor-cinza-claro;
      padding: 0.5rem;
      width: 5rem;
      height: 5rem;
    }
  }

  &__rede {
    opacity: 0.6;

    &:hover {
      opacity: 1;
      filter: none;
    }

    img {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__logo {
    min-height: 20rem;
    height: 20rem;
    min-width: 40rem;
    width: 40rem;
    margin-bottom: 2px;
  }

  &__search {
    @include flex($align: center, $gap: 1.6rem);
    padding-right: 3.05rem;
  }

  &__botao {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid $cor-cinza-claro;
    background-color: inherit;
    cursor: pointer;
    transition: all ease 200ms;

    svg {
      fill: $cor-azul;

      &:hover {
        fill: $cor-azul-claro;
      }
    }
  }

  &__navegacao {
    @include flex($gap: 4.88rem);
    width: 100%;
    max-width: 100rem;
  }

  &__lista {
    list-style: none;
    width: 100%;
    @include flex($gap: 1.6rem, $justify: space-between);
  }

  &__link {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    line-height: 1;
    border-bottom: solid 2px transparent;
    transition: all ease 200ms;

    &--natal {
      color: $cor-vermelha;
    }

    &:hover {
      color: $cor-branca;
      border-bottom-color: $cor-branca;
    }
  }

  &__item-lista {
    padding: 3.12rem 0;
  }
}
